<div class="men">
  <h3>Today's Deals:</h3>
  <ul>
    <li>Men's haircut's <span>$10</span></li>
    <li>Beard Trim <span>$5</span></li>
    <li>Straight Razor Shave <span>$10</span></li>
  </ul>
</div>
<div class="barber">
  <img src="../barber.png" alt="" />
</div>
<div class="women">
  <h3>Today's deals:</h3>
  <ul>
    <li>Blow out <span>$10</span></li>
    <li>Cut and Color <span>$10</span></li>
  </ul>
</div>

<main>
  <form action="/stylists" method="post">
    <label for="stylist_name">Your desired stylist</label><br>
    <input id="stylist_name" name="stylist_name" type="text"><br>

    <label for="client_name">Your name:</label><br>
    <input id="client_name" name="client_name" type="text"><br>

    <button type="submit"><img src="../scissors.png" alt="" /></button>
  </form>

</main>
